In [1]:
!pip install pandas
!pip install numpy
!pip install openpyxl # required dependency for pandas.read_excel
!pip install xlsxwriter # required dependency for pandas.to_excel (for parsing unicode)

Requirement already satisfied: pandas in /home/cheb/.local/lib/python3.9/site-packages (1.4.1)
Requirement already satisfied: numpy>=1.18.5 in /home/cheb/.local/lib/python3.9/site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/cheb/.local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in /home/cheb/.local/lib/python3.9/site-packages (1.22.3)
Requirement already satisfied: openpyxl in /home/cheb/.local/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /home/cheb/.local/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 5.4 MB/s eta 0:00:01
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [2]:
import pandas as pd
import numpy as np
import csv
import json

from io import StringIO #The StringIO module an in-memory file-like object.

### Item 1 
Read the created in-memory file `one`and create a DataFrame out of it.

In [3]:
one = StringIO('''p,    s,   m
1, 2, 3
4, 5, 6
7, 8, 9
''')
one

**Your answer below:**

In [4]:
df = pd.read_csv(one)
df

   p      s     m
0  1      2     3
1  4      5     6
2  7      8     9

### Item 2
Read the created in-memory file `two`and create a DataFrame wherein all cells without values in the CSV are assigned as `NaN`.

In [5]:
two = StringIO('''1, 2, 3
4, 5
7
''')
two

**Your answer below:**

In [6]:
df = pd.read_csv(two).fillna(np.nan)
df

   1    2   3
0  4  5.0 NaN
1  7  NaN NaN

### Item 3
Reads `NCR.xlsx` and returns a DataFrame with two columns: 'City, Municipality, and Barangay' and 'Total Population'

**Your answer below:**

In [9]:
df = pd.read_excel('NCR.xlsx', skiprows=[*range(0,3), *range(1777, 1784)], header=[0, 1])
df[[df.columns[1], df.columns[2]]].dropna()

     Unnamed: 0_level_0      City, Municipality       Total
     Unnamed: 0_level_1             and Barangay  Population
0                   NaN                      NaN         NaN
1                   NaN  NATIONAL CAPITAL REGION  12877253.0
2                   NaN                      NaN         NaN
3                   NaN           CITY OF MANILA   1780148.0
4                   NaN                      NaN         NaN
...                 ...                      ...         ...
1767                NaN    North Signal Village      32112.0
1768                NaN               Pinagsama      57343.0
1769                NaN              San Miguel       8590.0
1770                NaN        South Daang Hari      19166.0
1771                NaN    South Signal Village      39214.0

[1772 rows x 3 columns]

### Item 4
Read a json file with path `https://raw.githubusercontent.com/domoritz/maps/master/data/iris.json` then creates a Pandas DataFrame.

**Your answer below:**

In [8]:
df = pd.read_json('https://raw.githubusercontent.com/domoritz/maps/master/data/iris.json')
df

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

### Item 5
Read `listings.csv.gz` then creates the Excel file airbnb.xlsx

**Your answer below:**

In [28]:
df = pd.read_csv('listings.csv.gz', compression='gzip',)
writer = pd.ExcelWriter(
    'airbnb.xlsx',
    mode='w',
    engine='xlsxwriter',
    engine_kwargs={'options': {'strings_to_urls': False}} # Workaround for max URLs in excel
)
df.to_excel(writer)
writer.close()